{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- tailwind css file produced by tailwindcss-cli and minified by clean-css-cli -->
    <link rel="stylesheet" href="{% static '/css/tailwind.min.css' %}" />

    <!-- responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts style -->
    <!-- google fonts stylesheets -->
    <link rel="stylesheet" href="{% static '/css/fonts.css' %}" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    <!-- page title -->
    <title>Hello World</title>
  </head>

  <body>
    <div
      class="flex flex-col px-2 py-4 sm:p-8 md:px-6 lg:p-0 md:h-screen relative md:p-0 justify-center items-center space-y-4 md:space-y-8 bg-gradient-to-b from-blue-900 to-green-400"
    >
      <!-- start hello Django section -->
      <section class="space-y-4 md:space-y-8">
        <h2
          class="django_hello text-center text-white text-5xl lg:mt-0 sm:text-6xl lg:text-7xl xl:text-8xl 2xl:text-9xl"
        >
          Hello from Django
        </h2>

        <p
          class="text-white text-center font-medium text-xl md:text-4xl lg:text-4xl xl:text-5xl"
        >
          I'm a text rendered directly from a Django template
        </p>

        <section
          class="text-center text-lg md:text-2xl lg:text-3xl xl:text-4xl font-medium"
        >
          <p>
            Try me in different devices! I'm fully responsive, thanks to
            <a class="underline" href="https://tailwindcss.com">
              TailwindCSS
            </a>
          </p>
        </section>
      </section>
      <!-- end hello Django section -->

      <!-- start buttons wrapper section -->
      <div
        id="react_buttons"
        class="space-y-4 sm:space-x-4 sm:space-y-0 lg:space-x-8 flex flex-col sm:flex-row justify-center"
      >
        <!-- Hello from REACT -->
        <!-- this script CAN NOT be injected on <head>, but can be anywhere on <body> IF:  -->
        <!-- this script is placed AFTER the element that React will interact -->
        <!-- in this example the element with id = "react_buttons" -->
        <!-- REACT elements MUST be included BEFORE the react bundle -->
        <script src="{% static '/js/bundles/index.js' %}"></script>
      </div>
      <!-- end buttons wrapper section -->

      <!-- start announce react components -->
      <section
        class="hidden lg:flex absolute justify-center items-center bg-white bottom-0 lg:h-12 xl:h-16 w-full"
      >
        <p class="xl:text-xl 2xl:text-2xl">
          All buttons on this page are React components rendered directly on a
          Django template file and stylized with TailwindCSS.
        </p>
      </section>
      <!-- end announce react components -->
    </div>

    <script id="__bs_script__">
      //<![CDATA[
      document.write(
        "<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.14'><\/script>".replace(
          "HOST",
          location.hostname
        )
      );
      //]]>
    </script>
  </body>
</html>
